body {
  background-color: #f7f0e2;
}

h1 {
  font-family: "Gloria Hallelujah", regular;
  font-size: 90px;
  color: #875045;
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #707070;
  margin-top: 110px;
  font-size: 30px;
}

img {
  max-width: 35vw;
  margin-top: 90px;
}

.position-absolute {
  left: 30%;
  top: 180%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

nav {
  background-color: #c8c6af;
  height: 9vh;
}

#hamburger-icon {
  display: none;
}
#menu-toggle {
  display: none;
}
#menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 600px) {
  nav {
    min-height: 8vh;
    display: block;
  }
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 18px;
  }

  #menu {
    width: 100%;
    flex-direction: column;
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
  #menu-toggle:checked + #menu {
    display: flex;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }

  .flex > div {
    width: 90%;
  }

  img {
    min-width: 80vw;
  }

  .position-absolute {
    display: none;
  }
}
