body {
  background-color: #f7f0e2;
}

.mediabar {
  display: none;
}

h1 {
  font-family: "Gloria Hallelujah", regular;
  font-size: 90px;
  color: #875045;
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #707070;
  margin-top: 110px;
  font-size: 30px;
}

img {
  max-width: 35vw;
  margin-top: 90px;
}

.position-absolute {
  left: 750px;
  top: 1520px;
}

@media screen and (max-width: 600px) {
  nav {
    min-height: 8vh;
    display: block;
  }
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 18px;
  }

  .flex {
    flex-direction: column;
    align-items: center;
  }

  .flex > div {
    width: 90%;
  }

  img {
    min-width: 80vw;
  }

  .position-absolute {
    display: none;
  }

  .navbar {
    display: none;
  }

  .mediabar {
    display: block;
  }
}
