@font-face {
  font-family: gloria;
  src: url(../fonts/GloriaHallelujah-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
body {
  background-color: #f7f0e2;
}
nav {
  background-color: #c8c6af;
  height: 9vh;
}
h1 {
  font-size: 90px;
  color: #875045;
  font-family: gloria;
}
p {
  font-size: 35px;
  color: #707070;
  font-family: montserrat;
}
img {
  width: 300px;
}
.text-center {
  font-size: 30px;
  color: #875045;
}
