@font-face {
  font-family: gloria;
  src: url(../fonts/GloriaHallelujah-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
body {
  background-color: #f7f0e2;
}
h1 {
  font-size: 90px;
  color: #875045;
  font-family: gloria;
}
p {
  color: #707070;
  font-family: montserrat;
}
.text-center {
  color: #875045;
}
.review-container {
  background-color: #fffcf7;
  font-size: 16px;
  color: #875045;
  font-family: montserrat;
}
.title {
  font-size: 30px;
  font-style: italic;
}
.star {
  width: 30px;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
    color: #875045;
    text-align: center;
    font-family: gloria;
  }
  p {
    color: #707070;
    font-family: montserrat;
    text-align: center;
    font-size: 20px;
  }
  .review-container {
    background-color: #fffcf7;
    font-size: 16px;
    text-align: center;
    color: #875045;
    font-family: montserrat;
  }
}
