body {
  background-color: #f7f0e2;
}
nav {
  background-color: #c8c6af;
  height: 9vh;
}
h1 {
  font-size: 90px;
  color: #875045;
  font-family: "Gloria Hallelujah", cursive;
}

h2 {
  font-size: 60px;
  color: #875045;
  font-family: "Gloria Hallelujah", cursive;
}

p {
  font-size: 30px;
  color: #707070;
  font-family: montserrat;
  text-align: left;
  font-weight: 300;
}

#coffee {
  padding: 100px;
}

.col {
  margin-top: 10vh;
  margin-left: 10vw;
}

.col-sm-6 {
  padding-left: 100px;
}

.col-4 {
  padding-left: 100px;
}

.col-8 {
  padding-left: 100px;
}

#smoothies {
  padding: 0px;
}

.col {
  margin-top: 10vh;
  margin-left: 10vw;
}

.col-sm-6 {
  padding-left: 100px;
}

.col-4 {
  padding-left: 100px;
}

.col-8 {
  padding-left: 100px;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 50px;
  }

  p {
    font-size: 18px;
  }

  #coffee {
    padding: 0px;
  }

  .col {
    margin-top: 0vh;
    margin-left: 0vw;
  }

  .col-sm-6 {
    padding-left: 0px;
  }

  .col-4 {
    padding-left: 0px;
  }
}
